/* URL REGEX: ^(https?:\/\/)?(www\.)?google\.com(.ua)?[\/\\]?(search.*)?$ */

------#appbar, .kno-ftr, #fbar, #gb, .jsb, #prm-pt, #lga, #gs_st0, div.sbdd_b div.sbsb_a ul.sbsb_b li[dir="ltr"]:not([role="presentation"]) .sbsb_g,.s + div, .exp-outline {
    display: none;
}

#hdtb, ._nEm {
    border: none;
}

#hdtbSum,._qgo, ._Fmb, ._Fmb:hover, ._Fmb.selected, ._Fmb.selected:hover {
    background: #444;
}

._qgo {
    border-color: #333;
}

.kno-rdesc.r-iJ_lKFDIyxoU span:first-child {
    color: #777;
}

.kp-blk .xpdclose ._wle, .kp-blk .xpdopen ._xle {
    border-color: #444;
}

.mblink:visited, a:visited {
    color: #cdf ;
}

.sfbgg, body {
    background: #333;
}

.sfibbbc, ._zYs, ._ojo, ._aFm, ._oDd span:first-child {
    filter: invert(100%);
}

a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited, .kl:active, .tbotu {
    color: #45f;
}

